<% post_id ||= nil %>
<% occurances ||= false %>
<% has_posts = (domain.tp_count + domain.fp_count + domain.naa_count) > 0 %>

<span class="spam-domain">
  <% if occurances && has_posts %>
    <% if domain.tp_count == 0 %>
      <span class="text-danger">✗</span>
    <% end %>
    <% if domain.fp_count == 0 %>
      <span class="text-success">✓</span>
    <% end %>
  <% end %>
  <%= link_to domain.domain, spam_domain_path(domain) %>
  <% if occurances %>
    (<span class="text-success" title="TP" data-toggle="tooltip"><%= domain.tp_count %></span>,
    <span class="text-danger" title="FP" data-toggle="tooltip"><%= domain.fp_count %></span>,
    <span class="text-warning" title="NAA" data-toggle="tooltip"><%= domain.naa_count %></span>)
  <% end %>
  <%= render domain.domain_tags, collection: :tag %>
</span>
